/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Global */
body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
}

h2,
header,
input {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

main {
  margin-top: 5rem;
}

section {
  margin: auto;
}

/* Form Styles */
form {
  margin-bottom: 3rem;
}

form input {
  width: 100%;
}

form input[type="text"],
form input[type="button"] {
  padding: 16px;
  margin-bottom: 8px;
  border-radius: 5px;
}

form input[type="text"] {
  border: 1px solid hsl(243, 87%, 12%);
}

form input[type="button"] {
  border: none;
  background-color: hsl(224, 93%, 58%);
  color: hsl(0, 0%, 100%);
}

/* Header */

header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 1rem;
}

header a {
  width: max-content;
}

header a img {
  height: 25%;
  width: 25%;
  float: left;
}

header nav {
  width: 75%;
  text-align: right;
  float: right;
  display: inline;
  font-size: 0.75rem;
}

nav a {
  margin-left: 3%;
}

/* Main */

/* Section One */
.section-one {
  text-align: center;
  color: hsl(243, 87%, 12%);
  width: 90%;
}

.section-one h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.29rem;
  margin-top: 2%;
  margin-bottom: 2%;
  line-height: 2rem;
}

.section-one p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.desktop-curve {
  display: none;
}

/* Section Two */
.section-two {
  background-color: hsl(240, 75%, 98%);
  padding-bottom: 5%;
}

.section-two h2 {
  color: hsl(243, 87%, 12%);
  font-size: 1rem;
  text-align: center;
}

.section-two p {
  color: hsl(238, 22%, 44%);
  width: 90%;
  font-size: 0.9rem;
  margin: 5% auto;
  line-height: 1.5rem;
}

.link-container {
  text-align: center;
  vertical-align: middle;
}

.section-two a {
  display: inline-block;
  border-bottom: 1px solid hsl(169, 46%, 43%);
  color: hsl(169, 46%, 43%);
}

.section-two a img {
  margin-left: 8px;
  border: none;
  float: right;
  vertical-align: middle;
}

.testimonial-card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 85%;
  margin: 2rem auto;
  padding: 2rem;
}

.testimonial-card img {
  margin-left: 15px;
}

.testimonial-card .avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 16px;
  margin-right: 15px;
}

.name-container {
  position: relative;
  width: 100%;
}

.name-container p {
  margin: 0;
}

.name-container p:first-of-type {
  font-weight: 700;
}

/* Section three */
.section-three {
  padding-top: 2%;
  background-color: hsl(238, 22%, 44%);
  color: hsl(240, 75%, 98%);
  text-align: center;
}

.section-three h2 {
  font-size: 1.25rem;
  margin-top: 10%;
}

.section-three p,
.section-three form {
  width: 85%;
  margin: 5% auto;
}

.section-three p {
  line-height: 1.5rem;
}

.section-three form {
  padding-bottom: 10%;
  margin-bottom: 10%;
}

/* Footer */
footer {
  position: relative;
  text-align: left;
  background-color: hsl(243, 87%, 12%);
  color: hsl(0, 0%, 100%);
  padding-top: 10%;
  margin-top: -10%;
  padding-left: 5%;
}

footer .logo {
  margin-top: 2%;
  filter: brightness(0) invert(1);
}

footer .link-container {
  display: flex;
  align-items: center;
}

footer p a img {
  float: left;
  margin-right: 15px;
  vertical-align: middle;
}

.footer-nav-one,
.footer-nav-two {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-nav-one a,
.footer-nav-two a {
  margin: 0;
}

.socials-array {
  padding-top: 15px;
  text-align: center;
}

.socials-array a {
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  height: 36.5px;
  width: 36.5px;
  padding: 8px;
  margin: 8px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 8px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {
  header nav a {
    font-size: 1rem;
  }

  header img {
    width: 20%;
  }

  .section-one,
  .section-two {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
  }

  .section-one img,
  .section-one .text-container,
  .section-two img,
  .section-two .text-container,
  .section-three .text-container,
  .section-three form {
    width: 50%;
    padding: 2%;
  }

  .section-one {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .section-one .text-container {
    width: 90%;
    margin: auto;
  }

  .section-one h1 {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
  }

  .section-one p {
    font-size: 1rem;
    line-height: 2rem;
  }

  .section-one form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .section-one form input {
    width: 45%;
  }

  .mobile-curve {
    display: none;
  }

  .desktop-curve {
    display: block;
    padding-top: 10%;
  }

  .section-two h2,
  .section-two .link-container {
    text-align: left;
    width: 90%;
    margin: auto;
  }

  .section-two h2 {
    font-size: 2rem;
  }

  .section-two p {
    font-size: 1rem;
  }

  .section-two a img {
    height: 25px;
    width: 25px;
  }

  .section-two .testimonial-card img {
    height: 15%;
    width: 15%;
  }

  .section-three {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-bottom: 5%;
  }

  .section-three h2 {
    font-size: 1.75rem;
    width: 90%;
    margin: 5% auto;
  }

  .section-three form input[type="button"] {
    width: 50%;
  }
}
